.add-book h2 {
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: var(--clr-warm-grey);
  }
  
  .add-book-form {
    --gap: 0.8rem;
  }
  
  input[type='text'] {
    padding: 0.812rem 1.062rem;
    border-radius: 4px;
    border: solid 1px var(--clr-grey-border);
    background-color: var(--clr-white);
    color: var(--clr-black);
  }
  
  .input--text::placeholder {
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
    color: var(--clr-pinkish-gray);
  }
  
  .input:nth-child(1) {
    flex: 2 0 0;
  }
  
  .input:nth-child(2) {
    flex: 1 0 0;
  }
  
  .input:nth-child(3) {
    flex: 1 0 0;
  }